
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
/* .card{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid black;
    padding-bottom: 30px;
    border-radius: 8px;

}
.card-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background-color: red;
}
.card-bottom button{
  width: 100%;
  padding: 8px 10px;
} */
header .nav{
  display: flex;
  gap: 20px;
  align-items: center;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.addBtnBox{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}
.nav a.active{
  color: blue;
  text-decoration: underline;
}
.nav a{
  text-decoration: none;
}